template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_myapp01_name": {
            "defaultValue": "myapp01",
            "type": "String"
        },
        "connections_azurequeues_name": {
            "defaultValue": "azurequeues",
            "type": "String"
        },
        "connections_azuretables_name": {
            "defaultValue": "azuretables",
            "type": "String"
        },
        "storageAccounts_pslabstgacc6140b_name": {
            "defaultValue": "pslabstgacc6140b",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2020-08-01-preview",
            "name": "[parameters('storageAccounts_pslabstgacc6140b_name')]",
            "location": "eastus",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "minimumTlsVersion": "TLS1_0",
                "allowBlobPublicAccess": false,
                "isHnsEnabled": false,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azurequeues_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "myconn01",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/369803eb-a341-49dd-8495-b12483c30d9a/providers/Microsoft.Web/locations/eastus/managedApis/', 'azurequeues')]"
                },
				"parameterValues": {
    "storageaccount": "[parameters('storageAccounts_pslabstgacc6140b_name')]",
    "sharedkey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name')), providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value]"
 }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azuretables_name')]",
            "location": "eastus",
            "kind": "V1",
            "properties": {
                "displayName": "myconn02",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/369803eb-a341-49dd-8495-b12483c30d9a/providers/Microsoft.Web/locations/eastus/managedApis/', 'azuretables')]"
                },
				"parameterValues": {
    "storageaccount": "[parameters('storageAccounts_pslabstgacc6140b_name')]",
    "sharedkey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name')), providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value]"
 }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('storageAccounts_pslabstgacc6140b_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": false
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('storageAccounts_pslabstgacc6140b_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name'))]"
            ],
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('storageAccounts_pslabstgacc6140b_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('storageAccounts_pslabstgacc6140b_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_myapp01_name')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azurequeues_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azuretables_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_there_are_messages_in_a_queue": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 20
                            },
                            "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent('mylabqueue')}/message_trigger"
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Insert_Entity": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "AlertMessage": "@triggerBody()?['MessageText']",
                                            "EventTime": "@triggerBody()?['InsertionTime']",
                                            "PartitionKey": "Death",
                                            "RowKey": "@triggerBody()?['MessageId']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Tables/@{encodeURIComponent('mylabtable')}/entities"
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Insert_Entity_2": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "AlertMessage": "@triggerBody()?['MessageText']",
                                                "EventTime": "@triggerBody()?['InsertionTime']",
                                                "PartitionKey": "General",
                                                "RowKey": "@triggerBody()?['MessageId']"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Tables/@{encodeURIComponent('mylabtable')}/entities"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@triggerBody()?['MessageText']",
                                            "death"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Delete_message": {
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/@{encodeURIComponent('mylabqueue')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                                "queries": {
                                    "popreceipt": "@triggerBody()?['PopReceipt']"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurequeues": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azurequeues_name'))]",
                                "connectionName": "azurequeues",
                                "id": "/subscriptions/369803eb-a341-49dd-8495-b12483c30d9a/providers/Microsoft.Web/locations/eastus/managedApis/azurequeues"
                            },
                            "azuretables": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azuretables_name'))]",
                                "connectionName": "azuretables",
                                "id": "/subscriptions/369803eb-a341-49dd-8495-b12483c30d9a/providers/Microsoft.Web/locations/eastus/managedApis/azuretables"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('storageAccounts_pslabstgacc6140b_name'), '/default/mylabqueue')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/queueServices', parameters('storageAccounts_pslabstgacc6140b_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name'))]"
            ],
            "properties": {
                "metadata": {}
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
            "apiVersion": "2020-08-01-preview",
            "name": "[concat(parameters('storageAccounts_pslabstgacc6140b_name'), '/default/mylabtable')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/tableServices', parameters('storageAccounts_pslabstgacc6140b_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_pslabstgacc6140b_name'))]"
            ]
        }
    ]
}